-# = javascript_include_tag 'message.js'
.Messages__Message{data: {id: message.id}}
  .Messages__Message__upper-info
    = message.user.name
    = message.created_at.strftime("%Y/%m/%d %H:%M")
    -# = l comment.created_at, format: :short
  .Messages__Message__text
    - if message.content.present?
      %p.Messages__Messge__text
        = message.content
    = image_tag message.image.url, class: 'Messages__Message__text__image' if message.image.present?